* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: lightblue;
}
.oculto {
  display: none;
}

.w90{
  width: 90%;
  padding: 0;
  margin: 0 auto;
}
.notifCarrito{
  height: 1.2rem;
  width: 1.2rem;
  font-size: 14px;
}
.cargaProd {
  width: 80%;
  margin: auto;
  margin-top: 5rem;
}

.cargaProd input,
#busqueda {
  height: 3rem;
  width: 14rem;
  border: 0.5px black solid;
  margin-top: 1rem;
}
.contenedor {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 2rem 0;
  justify-content: space-between;
}
button {
  width: 5rem;
  font-size: 22px;
  background-color: aqua;
  margin-top: 1rem;
}

h1 {
  text-align: center;
  font-size: 36px;
}
/*estilos caja de busqueda*/
#busqueda {
  height: 3rem;
  width: 30rem;
  border: 0.5px black solid;
  margin: 2rem auto;
}
/* estilos de las card */
.contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  background-color: white;
  margin: 1rem;
  border: 1px solid black;
  width: 25rem;
}
.card h3 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 1rem;
}
.card p {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.btnCompra {
  background-color: orangered;
  font-weight: bold;
  text-align: center;
  width: 40%;
  height: 3rem;
  margin: 1rem 30%;
}
.cantidadProd {
  width: 50%;
  margin: 1rem auto;
}
.cantidadProd button {
  width: 25%;
  height: 3rem;
  font-weight: bold;
}
.cantidadProd input {
  width: 50%;
  height: 3rem;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

/*carrito*/
.carritoItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 4rem;
  background-color: white;
  font-size: 24px;
}
.w-33 {
  width: 33%;
  text-align: center;
}
.contenedorColumna {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
