* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(220,220,220);
}
.oculto {
  display: none !important;
}
h1, h3, p {
  color: rgb(25, 25, 25);
}
.fondoYLetra{
  /* background-color: rgb(243, 29, 29); */
  background-color: rgb(180, 0, 0) !important;
  color: rgb(240,240,240);
}
.w90{
  width: 90% !important ;
  padding: 0;
  margin: 0 auto !important ;
}
.navbar{
  height: 5rem;
  background-color: rgb(180, 0, 0) !important;
}
#paginaCompleta {
  margin-bottom: 2rem;
}
#carritoCompleto{
  height: 78vh;
}
#metodoDePago{
  height: 78vh;
}
footer{
  height: 5rem;
  background-color: rgb(180, 0, 0) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  color: rgb(240,240,240) !important;
}
.nav-link{
  color: rgb(240,240,240) !important;
}
.notifCarrito{
  height: 1.2rem;
  width: 1.2rem;
  font-size: 14px;
}
.cargaProd {
  width: 80%;
  margin: auto;
  margin-top: 5rem;
}

.cargaProd input,
#busqueda {
  height: 3rem;
  width: 14rem;
  border: 0.5px black solid;
  margin-top: 1rem;
}
button {
  width: 5rem;
  font-size: 22px;
  background-color: aqua;
  margin-top: 1rem;
}

h1 {
  text-align: center;
  font-size: 36px;
}
/*estilos caja de busqueda*/
#busqueda {
  height: 3rem;
  width: 30rem;
  border: 0.5px black solid;
  margin: 2rem auto;
}
/* estilos de las card */
.contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  background-color: white;
  margin: 1rem;
 /*  border: 1px solid black; */
  width: 20rem;
}
.card h3 {
  text-align: center;
  font-size: 26px;
  margin-bottom: 0.8rem;
}
.card p {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5rem;
}
.card img{
  width: 100%;
  height: 16rem;
}
.btnCompra {
  background-color: rgb(243, 29, 29);
  color: rgb(240,240,240);
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  width: 40%;
  height: 3rem;
  margin: 1rem 30%;
}
.cantidadProd {
  width: 60%;
  margin: 1rem auto;
}
.btnCantidad {
  background-color: rgb(243, 29, 29);
  color: rgb(240,240,240);
  width: 27%;
  height: 3rem;
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
  padding: 0;
}
.cantidadProd input {
  border: none;
  width: 39%;
  height: 3rem;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

/*carrito*/
.carritoItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 4rem;
  background-color: white;
  font-size: 24px;
}
.carritoItem i {
  padding-right: 1rem;
}
.w-33 {
  width: 33%;
  text-align: center;
  margin: auto;
}
.totalItem {
  padding-left: 50%;
}
.totalItem h3{
  text-align: start;
  font-size: 1.2rem !important;
}
.totalItem p{
  text-align: start;
  margin: auto;
  font-size: 1.2rem !important;
}
.contenedorColumna {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
.btnFinalCompra{
  background-color: rgb(243, 29, 29);
  color: rgb(240,240,240);
  height: 3rem;
  width: 10rem;
  font-size: 1rem;
  font-weight: bold;
}
form .btnFinalCompra{
  height: 4rem;
  margin: 1rem auto 2rem ;
}
.formPago{
  height: 5rem;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 10%;
}
.formPago input{
  height: 1rem;
  width: 1rem;
}
.formPago label{
  font-size: 1.3rem;
}
.cuerpoModal{
  text-align: center;
}
.cuerpoModal p{
  font-size: 1.3rem;
  color: rgb(25, 25, 25);
}
.btnModal{
  background-color: rgb(243, 29, 29);
  color: rgb(240,240,240) ;
}

@media screen and (max-width: 768px) {
  .w90{
      width: 100% !important;
  }
  .totalItem{
    padding-left: 0;
    padding: auto;
  }
  #busqueda{
    width: 90%;
  }
}
